<div class="page-header">
  <h1>All Users</h1>
</div>

<% @users.each do |user| %>
<div class="user">
  <div class ="row">
    
    <div class = "span1">
     <%= image_tag user.profile_picture.url(:thumb) %>
    </div>
  
  <div class ="span7">  
    <p><strong><%= user.name %></strong></p>
    
    <div class="meta">
      <%= link_to time_ago_in_words(user.created_at) + " ago", user %> 
        | <%= link_to "Edit", edit_user_path(user) %> | 
        <%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure your want to delete this User?"} %>
    
    </div>
   </div>
</div>  
</div>
<% end %>